@import 'tailwindcss';

@font-face {
  font-family: "Jersey";   /*Can be any text*/
  src: local("Jersey15"),
    url("./fonts/Jersey15-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Tiny";   /*Can be any text*/
  src: local("Tiny5"),
    url("./fonts/Tiny5-Regular.ttf") format("truetype");
}

@keyframes backgroundMove {
    from {
        transform: translate(0);
    }
    to {
        transform: translateX(-85px);
    }
}